:root{
	--mainbg:#5A92FF;
}
*{
	font-family: 'Poppins', sans-serif;
	line-height: 1.6px;
}

.navb{
	background-color: var(--mainbg);
}
.nav-link{
	color: #fff !important;
}
.dropdown {
	margin-top: -1.4vh;
}
.dropdown-menu{
	background-color: #fff !important;
	padding-top: 2vh;
}
.dropdown-menu p, .dropdown-menu a{
	margin-top: 2vh;
}
.dropdown-menu a{
	margin-bottom: 2vh;
}
.profile-img{
	width: 1.4vw;
	filter: invert(100%);
}
.backcol{
	background: var(--mainbg);
}
.card-login-baru{
	filter: drop-shadow( 5px 15px 15px #1664ffc2);
	margin-top: 8vh;
	height: 80vh;
	padding: 5vh;
	animation: fade-in 1s;
	border-radius: 15px;
}
@keyframes fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.card-login-baru .image-section{
	align-content: center;
	text-align: center;
}
.card-login-baru img{
	margin-top: 5vh;
	width: 90%;
}
.head{
	color: var(--mainbg);
	font-family: 'Poppins', sans-serif;
	margin-top: 12vh;
	left: 0%;
}
.card-login-baru form{
	margin-top: 3vh;
}
.card-login-baru .login{
	height: 5vh;
	width: 100%;
	margin-top: 2vh;
}
.card-login-baru .login input{
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.card-login-baru .login label{
	position: absolute;
	top: 50%;
	left: 8%;
	color: #333;
	font-size: 1.3vw;
	transform: translateY(-50%);
	pointer-events: none;
	transition: all .3s ease;
}
.card-login-baru .login input:focus ~ label{
	top: 0%;
	transform: translateY(-53%);
	font-size: 1.1vw;
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
}

.login label.inputed{
	top: 0%;
	transform: translateY(-53%);
	font-size: 1.1vw;
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
}
/*  */
.card-register-baru{
	filter: drop-shadow( 5px 15px 15px #1664ffc2);
	margin-top: 8vh;
	height: 80vh;
	padding: 5vh;
	animation: fade-in 1s;
	border-radius: 15px;
}
.card-register-baru .image-section{
	align-content: center;
	text-align: center;
}
.card-register-baru img{
	margin-top: 10vh;
	width: 90%;
}
.headr{
	color: var(--mainbg);
	font-family: 'Poppins', sans-serif;
	margin-top: 6vh;
	left: 0%;
}
.card-register-baru form{
	margin-top: 3vh;
	width: 100%;
}
.card-register-baru .login{
	height: 5vh;
	margin-top: 2vh;
}
.card-register-baru .login input{
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.card-register-baru .login label{
	position: absolute;
	top: 50%;
	left: 8%;
	color: #333;
	font-size: 1.3vw;
	transform: translateY(-50%);
	pointer-events: none;
	transition: all .3s ease;
}
.card-register-baru .login input:focus ~ label{
	top: 0%;
	transform: translateY(-53%);
	font-size: 1.1vw;
	background-color: #fff;
	padding-left: 3px;
	padding-right: 3px;
}
.btn-l{
	border-radius: 10px;
	background-color: #5A92FF;
	margin-top: 6vh;
	border: 2px solid #5A92FF ;
	width: 100%
}
.btn-l:hover{
	background-color: #fff;
	border: 2px solid #5A92FF ;
	color: #5A92FF;
}
.btnr{
	border-radius: 10px;
	background-color: #5A92FF;
	margin-top: 6vh;
	border: 2px solid #5A92FF ;
	width: 100%
}
.btnr:hover{
	background-color: #fff;
	border: 2px solid #5A92FF ;
	color: #5A92FF;
}





.card-create{
	border-radius: 10px;
	padding-top: 5vh;
	height: auto;
}
.card-creates{
	border-radius: 10px;
	padding-top: 1vh;
	height: auto;
}
.none{
	display: none;
}
.image input{
	visibility: hidden;
}
.image .label_img img{
	width: 100%;
	cursor: pointer;
	transition: .3s;
}
.image .label_img img:hover{
	opacity: .5;

}
.linked{
	text-decoration: none;
}
.linked .card .card-body h3{
	text-decoration: none;
}
.card-hover:hover{
	opacity: .5;
}
.detail_img img{
	width: 80%;
	height: 80%;
}
.heads h3{
	color: #000 ;
}

/*  */
.jumbo-home{
	height: auto;
	background-color: #5a91ffa9;
	padding-top: 20vh;
}
.jumbotron h1{
	font-size: 5vw;
	color: #fff;
}
.jumbotron .tagline{
	margin-top: 4.5vh;
	font-size: 2vw;
	color: #fff;
}
.home{
	margin-top: 0vh;
}
.home a{
	text-decoration:none;
}
.home::before{
	content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 80%;
	z-index: -1;
	background-color: var(--mainbg);
}

.card-barang{
	margin-top: 5vh;
	border-radius: 15px;
	box-shadow: 0px 2px 2px grey;
	filter: drop-shadow(5px 5px 15px rgba(128, 128, 128, 0.541));
	height: auto;
	transition: .5s ease;
	text-decoration: none;
}
.card-barang .header{
	width: 100%;
	height: 33vh;
}
.card-barang .header img{
	width: 100%;
	height: 100%;
	border-radius: 15px 15px 0px 0px;
}
.card-barang .card-body{
	text-decoration: none;
}
.card-barang h2{
	font-size: 1.8vw;
}
.card-barang h3{
	float: right;
	margin-top: 5vh;
	font-size: 1.1vw;
}
.card-barang h4{
	float: right;
	font-size: 1.5vw;
}
.card-barang h5{
	font-size: 1.2vw;
}
.card-barang .status{
	position: absolute;
	top: 2vh;
	right: 0;
	
}
.card-barang .status h5{
	font-size: 2vw;
}

.card-barang:hover{
	text-decoration: none;
	cursor: pointer;
	filter: drop-shadow(7px 7px 20px rgb(90, 90, 90));
}


/* detail page */
.detail-page{
	margin-top: 10vh;
	padding-top: 5vh;
}
.detail-page::before{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 30%;
	background-color: var(--mainbg);
}
.card-detail{
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	filter: drop-shadow(3px 3px 15px rgb(94, 93, 93));
}
.card-detail .image-product{
	width: 100%;
	height: 57vh;
	padding: 15px;
	filter: drop-shadow(3px 3px 15px rgb(85, 85, 85));
}
.card-detail .img-barang{
	border-radius: 7px;
	width: 100%;
	height: 100%;
}
.card-detail .kanan{
	margin-top: 10px;
}
.kanan .owner{
	font-size: 1vw;
	color: var(--mainbg);
}
.kanan .nama-barang{
	font-size: 1.5vw;
	color: #333;
	width: 100%;
}


.kanan .desc-title{
	font-size: 1vw;
	color: var(--mainbg);
}
.kanan .desc-box{
	width: 100%;
	height: 40vh;
	overflow-y: auto;
	padding: 18px;
}
.kanan .desc-box h5{
	font-size: 1vw;
	color: #555;
}

.desk{
	margin-top: 5vh;
	padding: 10px;
}

.harga-awal,
.last-bid{
	font-size: 2.5vw;
	color: #333;
}

.kotak{
	width: 90%;
	height: 40vh;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid grey;
	box-sizing: content-box;
	border-radius: 10px;
}


/* ajukan page */
.jumbo-create{
	height: 3vh;
	background-color: #5a91ffa9;
}
.ajukan{
	margin-top: -5vh;
}
.ajukan::before{
	content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 24%;
	z-index: -1;
	background-color: var(--mainbg);
}
.card-create{
	padding-top: 3vh;
	filter: drop-shadow(3px 3px 15px rgb(68, 68, 68));
}


/* barangku-page */
.jumbo-barangku{
	height: 3vh;
	background-color: var(--mainbg);
}
.card-konfirm{
	padding-top: 3vh;
	border-radius: 10px;
	margin-top: -4vh;
	height: 75vh;
	filter: drop-shadow(3px 3px 15px rgb(99, 99, 99));
}
.barangku{
	padding-top: 18vh;
}
.barangku::before{
	content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 26%;
	z-index: -1;
	background-color: var(--mainbg);
}
.full{
	width: 100% !important;
}
.table-wrap{
	align-content: center;
	align-items: center;
}

.biru{
	color: #2E76FF;
}
.thead{
 background-color: var(--mainbg);
 color: #fff;
}
.btn-info{
	color: #fff;
}
.table .btn{
	border-radius: 10px;
	width: 8vw;
}
.btn-edit{
	margin-bottom: 1.5vw;
}
.be{
	width: 13vw;
}
.btn-belum-mulai{
	width: 13vw;
}

.wrapper{
 	max-height: 65vh;
 	overflow-y: auto;
}
.wrappers{
 	height: 60vh;
 	overflow-y: auto;
}
.form-harga{
	width: 100%;
	border-radius: 15px;
}
.cari{
	width: 100%;
	margin-bottom: 1vh;

}
.white{
	color: #fff!important;
	width: 100%;
}
.bsm{
	border-radius: 18px;
	background-color: #ff000070;
	font-size: 8pt !important;
	color: #fff;
}
.bso{
	border-radius: 18px;
	background-color: rgba(7, 185, 7, 0.404);
	color: #fff;
	font-size: 8pt !important;
	
}
.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  height: 5vh;
}

.card-lapor{
	padding-top: 3vh;
	border-radius: 10px;
	
	height: auto;
}


/* footer */
.footer{
	margin-top: -10vh;
	height: 30vh;
	background-color: var(--mainbg);
	padding-top: 15vh;
}

@media only screen and (max-width: 590px){
    /* navbar */
    .dropdown {
        margin-top: 0vh;
    }
    .profile-img{
        display: none;
    }

    /* login page */
    .card-login-baru{
        margin-top: 2vh;
        height: auto !important;
        padding: 5vh;
    }
    .card-login-baru .head{
        text-align: center;
    }
    .card-login-baru form{
        margin-right: auto;
        margin-left: auto;
    }
    .card-login-baru .login label{
        font-size: 2.8vw;
    }
    .card-login-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }

    /* register section */
    .card-register-baru {
        height: auto;
    }
    .card-register-baru .image-section{
        display: none;
    }
    .headr{
        text-align: center;
    }
    .card-register-baru .login label{
        font-size: 2.8vw;
    }
    .card-register-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }


    /* home jumbotron */
    .jumbotron .title{
        font-size: 6.5vw !important;
    }
    .jumbotron .tagline{
        font-size: 4.4vw !important;
    }


    /* home card */
    .card-barang .header{
        width: 100%;
        height: 33vh !important;
    }
    .card-barang h2{
        font-size: 6vw;
    }
    .card-barang h3{
        float: right;
        margin-top: 5vh;
        font-size: 5vw;
    }
    .card-barang h4{
        float: right;
        font-size: 4.5vw;
    }


    /* detail page */
    .card-detail .image-product{
        width: 100%;
        height: 40vh;
        padding: 15px;
        filter: drop-shadow(3px 3px 15px rgb(85, 85, 85));
    }
    .card-detail .img-barang{
        border-radius: 7px;
        width: 100%;
        height: auto;
    }
    .kanan .owner{
        font-size: 3vw;
        color: var(--mainbg);
    }
    .kanan .nama-barang{
        font-size: 5.5vw;
        color: #333;
        width: 100%;
    }
    .kanan .desc-title{
        font-size: 3.5vw;
        color: var(--mainbg);
    }
    .kanan .desc-box{
        width: 100%;
        height: 40vh;
        overflow-y: auto;
        padding: 18px;
    }
    .kanan .desc-box h5{
        font-size: 4vw;
        color: #555;
    }

    .harga-awal,
    .last-bid{
        font-size: 4.5vw;
        color: #333;
    }
    .refresh{
        font-size: 3.7vw;
    }
    .form-harga{
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
}
@media (max-width: 991px){
    /* navbar */
    .dropdown {
        margin-top: -.6vh;
    }


    /* login page */
    .card-login-baru{
        margin-top: 2vh;
        height: auto !important;
        padding: 5vh;
    }
    .card-login-baru .head{
        text-align: center;
    }
    .card-login-baru form{
        margin-right: auto;
        margin-left: auto;
    }
    .card-login-baru .login label{
        font-size: 2.8vw;
    }
    .card-login-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }

    /* register section */
    .card-register-baru {
        height: auto;
        padding-top: -1vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .headr{
        text-align: center;
    }
    .card-register-baru .login label{
        font-size: 2.8vw;
    }
    .card-register-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }


    /* home */
    .card-barang .header{
        width: 100%;
        height: 23vh;
    }
    .card-barang h2{
        font-size: 3vw;
    }
    .card-barang h3{
        float: right;
        margin-top: 5vh;
        font-size: 2.5vw;
    }
    .card-barang h4{
        float: right;
        font-size: 2vw;
    }

    /* detail page */
    .card-detail .image-product{
        width: 100%;
        height: 40vh;
        padding: 20px;
        filter: drop-shadow(3px 3px 15px rgb(85, 85, 85));
    }
    .card-detail .img-barang{
        border-radius: 7px;
        width: 100%;
        height: auto;
    }
    .kanan .owner{
        font-size: 2vw;
        color: var(--mainbg);
    }
    .kanan .nama-barang{
        font-size: 3.5vw;
        color: #333;
        width: 100%;
    }
    .kanan .desc-title{
        font-size: 2.5vw;
        color: var(--mainbg);
    }
    .kanan .desc-box{
        width: 100%;
        height: 30vh;
        overflow-y: auto;
        padding: 18px;
    }
    .kanan .desc-box h5{
        font-size: 2vw;
        color: #555;
    }

    .harga-awal,
    .last-bid{
        font-size: 3vw;
        color: #333;
    }
    .refresh{
        font-size: 2vw;
    }
    .form-harga{
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
}
@media (max-width: 1024px){
    /* navbar */
    .dropdown {
        margin-top: -.3vh;
    }



    /* login page */
    .card-login-baru{
        margin-top: 2vh;
        height: auto !important;
        padding: 5vh;
    }
    .card-login-baru .head{
        text-align: center;
    }
    .card-login-baru form{
        margin-right: auto;
        margin-left: auto;
    }
    .card-login-baru .login label{
        font-size: 2.8vw;
    }
    .card-login-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }

    /* register section */
    .card-register-baru {
        height: auto;
        padding-top: -1vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .headr{
        text-align: center;
    }
    .card-register-baru .login label{
        font-size: 2.8vw;
    }
    .card-register-baru .login input:focus ~ label{
        font-size: 2.3vw;
    }

    /* home */
    .card-barang .header{
        width: 100%;
        height: 23vh;
    }
    .card-barang h2{
        font-size: 3vw;
    }
    .card-barang h3{
        float: right;
        margin-top: 5vh;
        font-size: 2.5vw;
    }
    .card-barang h4{
        float: right;
        font-size: 2vw;
    }

    /* detail page */
    .card-detail .image-product{
        width: 100%;
        height: 40vh;
        padding: 20px;
        filter: drop-shadow(3px 3px 15px rgb(85, 85, 85));
    }
    .card-detail .img-barang{
        border-radius: 7px;
        width: 100%;
        height: auto;
    }
    .kanan .owner{
        font-size: 2vw;
        color: var(--mainbg);
    }
    .kanan .nama-barang{
        font-size: 3.5vw;
        color: #333;
        width: 100%;
    }
    .kanan .desc-title{
        font-size: 2.5vw;
        color: var(--mainbg);
    }
    .kanan .desc-box{
        width: 100%;
        height: 30vh;
        overflow-y: auto;
        padding: 18px;
    }
    .kanan .desc-box h5{
        font-size: 2.3vw;
        color: #555;
    }

    .harga-awal,
    .last-bid{
        font-size: 3vw;
        color: #333;
    }
    .refresh{
        font-size: 2vw;
    }
    .form-harga{
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
}